body {
  background-color: #2e3532;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

#window {
  flex-wrap: wrap;
}

/* Todo List */

.todoList {
  background: rgba(196, 196, 196, 0.1);
  border-radius: 10px;
  width: 18%;
  padding: 10px;
  margin: 4px;
  height: fit-content;
}

.header {
  border-bottom: 1px solid #c7cedb;
  margin-bottom: 10px;
}

.header > div > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 41px;
  color: #c7cedb;
  letter-spacing: 2px;
  padding: 1rem 0 0.1rem 0.5rem;
}

.inputBar {
  margin-top: 10px;
  background-color: rgba(196, 196, 196, 0.7);
  border-radius: 5px;
}

.textbox {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  background-color: transparent;
  width: 90%;
  padding: 10px;
  font-weight: bold;
}

.addTodo {
  padding-right: 2px;
}

.addtodo:hover {
  cursor: pointer;
}

.deleteListBtn:hover {
  cursor: pointer;
}

/* Todo */

.todo {
  background-color: rgba(196, 196, 196, 0.4);
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
}

.checkBox {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 4px;
}

.box {
  height: 0.8rem;
  width: 0.8rem;
}

.check {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  width: 80%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}

.completed {
  text-decoration: line-through;
}

/* alert */

.filter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert {
  background-color: rgba(196, 196, 196, 1);
  text-align: center;
  border-radius: 10px;
  padding: 2rem 6rem;
}

.alert > span {
  font-weight: 900;
  font-size: 1.6rem;
}

.alert > input {
  font-weight: 600;
  font-size: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  text-align: center;
  outline: none;
  margin: 1rem 0;
}

.alert > div {
  margin: 0 auto;
}

/* index.html */

.appheader {
  padding: 10px 0;
  border-bottom: 1px solid #c7cedb;
  margin-bottom: 20px;
}

.appName {
  font-size: 2.5rem;
  font-weight: 900;
  color: #c7cedb;
  position: relative;
  bottom: 6px;
  padding-left: 10px;
}

.right-sided-things {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
}

.right-sided-things > div {
  margin-right: 1rem;
}

.button {
  background-color: #e5e5e5;
  border-radius: 5px;
  color: #000;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  letter-spacing: 0;
  margin-top: 4px;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
}

.seachBox {
  display: flex;
  width: 18%;
  margin-right: 0 !important;
}

.searchBar {
  height: 50%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #c7cedb;
  color: #c7cedb;
  font-size: 16px;
  padding: 0 30px 4px 4px;
}

.searchBar::placeholder {
  color: rgba(199, 206, 219, 0.5);
}

.search-icon {
  height: 25px;
  position: relative;
  right: 25px;
}

.search-icon:hover {
  cursor: pointer;
}

.username {
  color: #c7cedb;
  font-weight: 700;
  padding-top: 8px;
}
