body {
  background-color: #5b5fe9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

#window {
  width: 100vw;
}

.main-header {
  text-align: center;
  height: fit-content;
  width: 100vw;
}

.main-header > input {
  font-weight: 600;
  display: block;
  margin: 10px auto 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  width: 70%;
  outline: none;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.main-header > input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.todoList {
  background-color: #fff;
  height: fit-content;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  position: relative;
}

.header {
  height: 15%;
  padding: 20px 20px 0 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.001));
}

.header > div {
  flex-shrink: 0;
}

.title {
  color: #5b5fe9;
  font-size: 22px;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.bold {
  font-weight: 600;
}

.month {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 14px;
}

.label {
  display: block;
  margin: 0 0 2px 4em;
  background: #5b5fe9;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.label:hover {
  cursor: pointer;
}

.danger {
  color: red;
  font-weight: 600;
}

.danger:hover {
  cursor: pointer;
}

.todos {
  padding: 0px 10px;
  overflow-y: scroll;
  height: 78%;
  margin: 10px 0;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

.todo {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 12px 0;
  position: relative;
}

.checkBox {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #5b5fe9;
  position: relative;
}

.box {
  height: 0.8rem;
  width: 0.8rem;
}

.check {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 10px;
  background-color: #5b5fe9;
}

.completed > .content {
  text-decoration: line-through;
}

.bin {
  margin: 0 1rem 0 auto;
}

.bin > img {
  position: absolute;
  bottom: 12px;
}

.addTodo {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 4%;
  bottom: 4%;
  border-radius: 50%;
  background: #5b5fe9;
  padding: 8px;
}

.addTodo:hover {
  cursor: pointer;
}

.sign {
  font-size: 2.2rem;
  color: #fff;
}

.filter {
  height: 35rem;
  width: 20rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0%;
}

.newTodo {
  width: 80%;
  border-radius: 4px;
  background: #fff;
  padding: 8px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox {
  width: 80%;
  outline: none;
  border: none;
  border: 2px solid #5b5fe9;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 10px;
  margin: 10px 0;
}

.addTodoBtn {
  border: none;
  width: 50%;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #5b5fe9;
  color: #fff;
  outline: none;
  box-shadow: none;
  margin-top: 2px;
  margin: 0 auto;
}

.addtodoBtn:hover {
  cursor: pointer;
}

.closeBtn {
  font-size: 10px;
  text-align: right;
  color: #5b5fe9;
  font-weight: 900;
}

.closeBtn:hover {
  cursor: pointer;
}

.addNewListBox {
  height: 35rem;
  width: 20rem;
  border-radius: 10px;
  margin: 20px;
  position: relative !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inputBar {
  position: relative;
}

.inputBar > input {
  padding: 8px 40px 8px 10px;
  width: 100%;
}

.inputBar > .addTodo {
  top: 23%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 2%;
  bottom: 15%;
  border-radius: 50%;
  background: #5b5fe9;
  padding: 8px;
  transform: scale(0.8);
}

.inputBar > .addTodo > .sign {
  font-size: 1.5rem;
}

.addList {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #5b5fe9;
  padding: 8px;
  top: 54%;
}

.addList > .sign {
  font-size: 3.2rem;
}

.addList:hover {
  cursor: pointer;
}

.newListInput {
  top: 38%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  width: 60%;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px;
}

.newListInput::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.option-bullets {
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}

.option-bullets:hover {
  cursor: pointer;
}

.bullet {
  margin: 1px;
  height: 0.37rem;
  width: 0.37rem;
  background-color: #5b5fe9;
  border-radius: 50%;
}

.option-box {
  position: absolute;
  background: #fff;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 10px;
  text-align: right;
  padding-top: 4px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.closeOptionBoxBtn {
  padding: 0 10px;
}

.option {
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}

.option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
}
