<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles//styles.css" type="text/css" />
    <title>Todo</title>
  </head>
  <body>
    <div class="todoList center">
      <div class="header flex">
        <div>
          <span class="title">My List</span>
          <span class="month"
            >Febraray, <span class="bold">Sunday</span>, 02</span
          >
        </div>
        <div>
          <span class="todo-count">6 Tasks</span>
        </div>
      </div>
      <div class="todos">
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo completed">
          <span class="content">Do this assignment</span>
        </div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
        <div class="todo"><span class="content">Do this assignment</span></div>
      </div>
      <div class="addTodo" onclick="showAddNewTodoBox()">
        <div class="sign center">+</div>
      </div>
      <div class="filter hidden" id="addNewTodoBox">
        <div class="center newTodo">
          <div class="closeBtn" id="closebtn" onclick="hideAddNewTodoBox()">
            <span>X</span>
          </div>
          <input class="textbox" id="newTodoInput" />
          <div class="addTodoBtn" id="addNewTodoBtn" onclick="addTodo()">
            Add
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/todo.js"></script>
</html>
