<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/styles.css" type="text/css" />
    <title>Todo</title>
  </head>
  <body>
    <div class="appheader flex">
      <div class="appName">Todo</div>
      <div class="right-sided-things">
        <div class="seachBox">
          <input
            class="searchBar"
            placeholder="Create List"
            id="newListInput"
            onkeydown="createList()"
            autocomplete="off"
          />
          <img src="./images/add.svg" class="search-icon" />
        </div>
        <div class="seachBox">
          <input
            class="searchBar"
            placeholder="Search Todo List..."
            id="todoListSearch-TODOLIST_ID"
            oninput="filterTodoList(this.value)"
            autocomplete="off"
          />
          <img src="./images/search.svg" class="search-icon" />
        </div>
        <div class="seachBox">
          <input
            class="searchBar"
            placeholder="Search Todos..."
            id="todosSearch-TODOLIST_ID"
            oninput="filterTodos(this.value)"
            autocomplete="off"
          />
          <img src="./images/search.svg" class="search-icon" />
        </div>
        <div class="username">sukhoboi</div>
      </div>
    </div>
    <div id="window" class="flex"></div>
  </body>
  <script src="./js/todoFilter.js"></script>
  <script src="./js/todoListFilter.js"></script>
  <script src="./js/appActions.js"></script>
  <script src="./js/main.js"></script>
</html>
