<div class="todoList" id="TODOLIST_ID">
  <div class="header flex">
    <div>
      <input
        class="title"
        value="TODOLIST_ID"
        onblur="updateTodoListname('TODOLIST_ID', this.value)"
      />
    </div>
    <div class="deleteListBtn" onclick="deleteList('TODOLIST_ID')">
      <img src="./../images/delete.png" />
    </div>
  </div>
  <div class="todos" id="todos-TODOLIST_ID"></div>
  <div class="inputBar flex" id="addNewTodoBox-TODOLIST_ID">
    <input
      class="textbox"
      id="newTodoInput-TODOLIST_ID"
      placeholder="Title..."
      autofocus
      required
    />
    <div class="addTodo" onclick="addTodo('TODOLIST_ID')">
      <div class="sign center">+</div>
    </div>
  </div>
</div>
