<div class="todo flex TODO_STATUS" id="TODOLIST_ID-TODO_ID">
  <div class="checkBox">
    <div class="box" onclick="toggleTodo('TODO_ID', 'TODOLIST_ID')"></div>
    <div
      class="check center HIDDEN_OR_NOT"
      onclick="toggleTodo('TODO_ID', 'TODOLIST_ID')"
    ></div>
  </div>
  <input
    class="content"
    value="TODO_TITLE"
    onblur="updateTodoTitle('TODO_ID', 'TODOLIST_ID', this.value)"
  />
  <div class="bin" onclick="deleteTodo('TODO_ID', 'TODOLIST_ID')">
    <img src="./../images/delete.png" />
  </div>
</div>
